<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/static/skeleton.css">
        <link rel="stylesheet" href="/static/normalize.css">
</head>
<body>

    <div class="container">

        <h1>Budgtr ALL</h1>

        <table>
            <% budgets.forEach((budget, index) => { %>

            <tbody>
            <tr>
                        <td class="date"><%= budget.date %></td>
                        <td><a href="/budget/<%= index %>"><%= budget.name %></a></td>
                        <td class="amount"><%= budget.amount %></td>
                  
            </tr>
        </tbody>
        <%  }) %>

        </table>

    </div>
    
</body>
</html>