<%- include("../partials/head.ejs") %>
<body>
    <div class="container">
        <h1>Add a new item</h1>
        <form action="/budget" method="post">
            <input type="text" name="date" placeholder="Date">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="amount" placeholder="Amount">
            <input type="text" name="from" placeholder="From">
            <input type= "submit" value="Submit">



        </form>
    </div>

    
</body>
</html>